* {
	margin: 0;
	padding: 0;
}

.card{
	transition: all 200ms ease;
}
.product:hover{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header{
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 96px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	background-color: white;
}

.logo > p{
	font-size: 36px;
	margin-left: 15px;
}
.logo{
	margin-left: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}nav{
	margin-right: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 520px;
}
nav > a{
	font-size: 36px;
	color: black;
}


main{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 192px;
	padding-left: 200px;
	padding-right: 200px;
}

.search{
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1000px;
	height: 64px;

	border: 3px solid #000000;
	border-radius: 6px;
	margin-bottom: 64px;
}
.search > p{
	font-size: 36px;
	margin-left: 24px;
}

content{
	width: 100%;
	margin-bottom: 96px;
}
.h1{
	width: 35%;
	margin-bottom: 40px;
}
.h1 > p{
	font-size: 40px;
}
.line{
	background-color: black;
	height: 3px;
	width: 100%;
}
.product{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 20%;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	padding-bottom: 15px;
}
.product > img{
	margin-bottom: 10px;
}
.product > p{
	width: 90%;
}
.placeholder{
}

