* {
	margin: 0;
	padding: 0;
	   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	transition: all 200ms ease;
	padding-bottom: 15px;
}
.card > p {width: 90%; text-align: center; text-decoration: none}
.card:hover {box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.cards{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

header{
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 96px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	background-color: white;
}

.logo > p{
	font-size: 36px;
	margin-left: 15px;
}
.logo{
	margin-left: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo > img{
	width: 72px;
}
nav{
	margin-right: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 520px;
}
nav > a{
	font-size: 24px;
	color: black;;
}


main{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 192px;
	padding-left: 10%;
	padding-right: 10%;
}

input[placeholder="Поиск:"]{
	width: 1000px;
	height: 64px;
}

input{
	border: 3px solid #000000;
	border-radius: 6px;
	margin-bottom: 64px;
	font-size: 36px;
	padding-left: 12px;
}

content{
	width: 100%;
	margin-bottom: 96px;
}
.h1{
	width: 35%;
}
.h1 > p {font-size: 40px;}

.line{
	background-color: black;
	height: 3px;
	width: 100%;
}
.product {width: 15em;}
.product > img {margin-bottom: 10px;}

.categories {width: 17%;}
.categories > img{
	height: 120px;
}

.pass > p{
	font-size: 40px;
	margin-bottom: 40px;
}
.pass > input{
	font-size: 24px;
	height: 36px;
}


.page2{
	flex-direction: row;
	justify-content: space-around;

}
.page2 > img{
	width: 400px;
}

.head_card{
	display: flex;
	
}

.btn{
	text-decoration: none;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	background-color: #F2EAFD;
	color: #A971F1;
	font-size: 24px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	transition: all 200ms ease;
}
.btn:hover{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btns{
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.btns > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-radius: 4px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
}
.rectangle{
	border: 2px solid black;
	border-radius: 6px;
	background-color: white;
	width: 16px;
	height: 16px;
}

.btns > img{
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-radius: 4px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 20px;
}

.buy{
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	margin-top: 20px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.buy > a{
	margin-right: 10px;
}

.price{
	margin-left: 10px;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	background-color: #F2EAFD;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.price > p{
	font-weight: bold;
}
.price > a{box-shadow: 0px 0px 0px white;}
.price > a > img{width: 20px;}


.page3{
	padding: 0;
	align-items: flex-start;
	background-color: #F6F6F6;
}

.menu_admin{
	background-color: white;
	padding-top: 20px;
	width: 300px;
	position: fixed;
	height: 100vh;
/*	box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.25);*/
}
.menu_admin > div{
	margin-left: 10px;
	margin-bottom: 20px;
}
.menu_admin > p{
	font-size: 24px;
	margin-left: 10px;
}

.img{
	background-color: #9F9F9F;
	width: 32px;
	height: 32px;
	border-radius: 48px;
}
.name_admin{display: flex; margin-top: 20px;}
.name_admin > div{margin-left: 10px;}
.email{
	color: #A2A2A2;
	font-size: 12px;
}

.links{display: flex;}
.links > img{width: 20px;}
.links > p{margin-left: 10px; transition: 50ms; cursor: pointer;}
.links > p:hover{
	color: #A971F1;
}

.header{
	background-color: white;
	height: 96px;
	width: 100%;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.columns{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 550px;
	height: 500px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.columns > img{padding-top: 50px}
.head_img_card{
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}
.head_img_card > div{
	display: flex;
	align-items: center;
}
.head_img_card > p{font-size: 24px; color: #A971F1}
.head_img_card > div > p{
	color: #A971F1;
	font-size: 20px;
}